# Node modules
node_modules/

# Database files (SQLite)
src/db/*.db
src/db/consultorio.db

# Tailwind output CSS
src/renderer/styles/output.css

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Electron
/dist/
*.asar
*.asar.pack
electron-bin/

# Configuración local de IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
